* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body, html {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.cover {
    background: linear-gradient(rgba(55,71,79,.8), rgba(55,71,79,.8)), url('images/bg.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60vh;
    display: table;
    width: 100%;
    font-family: Arimo, sans-serif;
}

.cover .container-text {
    height: 600px;
    vertical-align: middle;
    display: table-cell;
}

.cover .first {
    color: #fff;
    font-size: 20px;
}

.cover .first img {
    height: auto;
    width: 45%;
    margin-bottom: 15px;
    display: block;
}

.cover .first p {
    width: 80%;
    line-height: 150%;
}

.cover .first p span {
    font-weight: bolder;
}

.cover .first h1 {
    font-family: Arimo, sans-serif;
    font-size: 48px;
    font-weight: 400;
}

.cover .second .media h5 {
    font-size: 30px;
    font-weight: 700;
    font-family: Arimo, sans-serif;
}
.cover .second .media img {
    height: auto;
    width: 10%;
}
.cover .second .media p {
    font-size: 20px ;
}


.aside {
    background: #35444C;
    color: #fff;
    padding: 2%;
    font-size: 30px;
    font-weight: 700;
    font-family: Arimo, sans-serif;
    border-radius: 4px;
}

.last {
    text-align: center;
}

strong {
    font-size: 30px;
    font-weight: 700;
    font-family: Arimo, sans-serif;
    display: block;
}

.mockup {
    height: auto;
    width: 25%;
}

.block {
    transition: all .4s ease;
    position: relative;
    outline: 0;
}

.pb-5, .py-5 {
    padding-bottom: 3rem!important;
}
.pt-5, .py-5 {
    padding-top: 3rem!important;
}
.pl-0, .px-0 {
    padding-left: 0!important;
}
.pr-0, .px-0 {
    padding-right: 0!important;
}
.ml-0, .mx-0 {
    margin-left: 0!important;
}
.mb-0, .my-0 {
    margin-bottom: 0!important;
}
.mr-0, .mx-0 {
    margin-right: 0!important;
}
.mt-0, .my-0 {
    margin-top: 0!important;
}

.rights {
    float: right;
    color: #757575;
    font-size: 90%;
    margin-top: 10%;
}

@media screen and (max-width: 720px) {
    .logo {
        width: 80%;
        height: auto;
    }
    .cover .first p{
        width: 100%;
    }
    .cover .first h1 {
        font-family: Arimo, sans-serif;
        font-size: 38px;
        margin-top: 20%;
    }
    .cover .first img {
        height: auto;
        width: 90%;
    }
    .mockup {
        height: auto;
        width: 60%;
    }
    .rights {
        margin-top: 30%;
    }
}